.cart {
    $cart: &;

    &__page {
        background-color: rgb(245, 245, 250);

		@include media-breakpoint-up(xl) {
			.two-column {
				.column__right {
					flex: 0 0 30%;
				}
	
				.column__main {
					flex: 0 0 70%;
				}
			}
		}
    }

    &__list {
        display: block;
        @include list-unstyled();
    
        #{$cart}__item {
            display: block;
            padding: 20px;
			margin-bottom: 20px;
            background-color: $white;

			&.thead {
				padding-top: 10px;
				padding-bottom: 10px;

				#{$cart}__inner {
					grid-template-columns: auto 120px 150px 20px;
				}
			}
        }

		#{$cart}__inner {
			grid-template-columns: 100px 1fr;
			column-gap: 12px;
		}

		#{$cart}__product {
			grid-template-columns: 1fr 120px 150px 20px;
			column-gap: 12px;
		}
    
        #{$cart}__img {
            position: relative;

            .thumb {
                display: block;
                border: 1px solid $border-color;
            }
        }
    
        #{$cart}__info {
            padding-left: 20px;
            justify-content: space-between;
        }
    
        #{$cart}__desc {
            
        }
    
        #{$cart}__details {
            justify-content: space-between;
        }
    
        #{$cart}__prices {
            .price {
                font-size: 16px;
            }
        }
    
        .product__name {
			font-size: 1rem;
            margin-bottom: 5px;
        }
    
        .product__model {
			color: $gray-600;
			font-size: 14px;
			margin-bottom: 0px;
        }

		@include media-breakpoint-down(sm) {
			#{$cart}__inner {
				grid-template-columns: 80px 1fr;
			}

			#{$cart}__product {
				grid-template-columns: 1fr;
				position: relative;
			}

			#{$cart}__prices {
				margin-bottom: 4px;
			}

			#{$cart}__item {
				&.thead {
					#{$cart}__inner {
						grid-template-columns: 1fr 20px;
					}
				}

				&.tbody {
					#{$cart}__action {
						position: absolute;
						z-index: 9;
						right: 0px;
						bottom: 4px;
					}
				}
			}
		}
    }

	&__column-right {
		#{$cart}__shipping {
			margin-bottom: 25px;

			.customer-info {
				font-size: 14px;
				font-weight: 700;
				margin-bottom: 6px;

				&__name {
					color: $gray-600;
					text-transform: uppercase;
				}

				.space {
					width: 1px;
					height: 20px;
					margin: 0px 8px;
					background-color: rgb(235, 235, 240);
				}
			}

			.address {
				color: $gray-600;
				font-size: 14px;
			}
		}
	
		#{$cart}__totals {
			margin-bottom: 25px;

			.total-item  {
				width: 100%;
				margin: 0px;

				& + .total-item {
					border-top: 1px solid $border-color;
				}

				> * {
					padding: 12px 0px;
				}
			}
		}
	
		#{$cart}__coupon {
			.form-control {
				font-size: 14px;
				@include border-radius(20px);
			}

			&-action {
				padding-left: 10px;
			}

			.btn {
				width: 100%;
				font-size: 14px;
				line-height: 1;
				padding: 9px 1rem;
				@include border-radius(20px);
			}
		}
	}
}

// Button Update Qty
.block-qty-cart {
	width: auto;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border: 1px solid $border-color;
	@include border-radius(4px);
	overflow: hidden;

	.input-group-btn {
		height: 30px;

		& + .input-group-btn {
			border-left: 1px solid $border-color;
		}
	}

	.form-control {
		height: 30px;
		border: none;
		min-width: 50px;
		padding: 0px 4px;
		@include border-radius(0);
		@include box-shadow(none);
	}

	.btn {
		color: $gray-700;
		font-size: 14px;
		line-height: 1;
		font-weight: normal;
		padding: 8px 10px;
		@include border-radius(0px);
		border: none;

		&:hover {
			color: $white;
			background-color: $primary;
		}
	}
}
