.product {
    $product: &;

    &__special-topPage {
        .heading {
            padding: .25rem 0px;
            margin-bottom: .625rem;

            &__title {
                &::before,
                &::after {
                    display: none !important;
                }
            }
        }

        &__inner {
            padding: .625rem;
            background-color: $red;
            @include border-radius(10px);
        }

        &__content {
            padding: 1.625rem 1rem;
            background-color: $white;
            @include border-radius(6px);
        }

        @include bp('max-width', '767px') {
            .product {
                &__price {
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -webkit-justify-content: flex-start !important;
                    justify-content: flex-start !important;

                    > * {
                        width: 100%;
                        margin-left: 0px !important;
                    }
                }  
            }
        }
    }

    // -----------
    &__houseware {
        padding: 2.875rem 0px;
        background-color: $gray-100;

        #{$product}__item {
            padding-left: 0.5rem !important;
            padding-right: 0.5rem !important;
        }

        #{$product}__inner {
            padding: .5rem;
            background-color: $white;
        }

        #{$product}__info {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        @include bp('max-width', '1023px') {
            .tabs.ui-tabs {
                .tabs__nav {
                    flex-wrap: wrap;
                }
            }
        }
    }
}