.reviews {
    $reviews: &;

    &__heading {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0.625rem;
    }

    &__list {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        
        &-item {
            display: block;
            margin: 0 0 .875rem;
            position: relative;
        }

        .rating {
            font-size: 14px;
            display: inline-block;
            margin-bottom: 0px;

            &__inner {
                width: 80px;
                height: 14px;
            }
        }
    }

    &__name {
        font-size: 1rem;
        margin-bottom: .25rem;
    }

    &__description {
        color: $gray-600;

        > * {
            display: inline-block;
            margin-bottom: 0px;
        }
    }

    &__action {
        font-size: 14px;
        margin-top: 0.25rem;

        .space {
            color: $gray-500;
            padding: 0 10px;
        }
    }

    &__box {
        padding: .625rem;
        border: 1px solid $border-color;
        @include border-radius(6px);

        &-right {
            padding: 0px 1rem;
        }

        @include bp('max-width', '767px') {
            &-left {
                margin-bottom: 1rem;
            }

            &-right {
                text-align: center;
            }
        }
    }

    &__average {
        display: block;
        margin-bottom: 0.25rem;

        .number {
            color: $primary;
            font-size: 1.625rem;
        }
    }

    &__bar {
        &-inner {
            margin-bottom: 0.25rem;
        }
        
        &-rating {
            
        }
    }

    &__rating {
        height: 1rem;
        display: block;
        @include border-radius(6px);
        background-color: $gray-300;
        position: relative;
        overflow: hidden;

        &-pre {
            height: 100%;
            background-color: $primary;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }

    &__value {
        flex: 0 0 40px;
        max-width: 40px;
    }

    &__num {
        flex: 0 0 180px;
        max-width: 180px;
        padding-left: 1.25rem;
    }

    &__form {
        padding: 20px;
        border: 1px solid $border-color;
        background-color: rgba($gray-100, 75%);
        @include border-radius(6px);
    }

    @include bp('max-width', '767px') {
        &__average {
            margin-bottom: .625rem;
        }
        
        &__num {
            flex: 0 0 170px;
            max-width: 170px;
            padding-left: 1rem;
        }
    }
}